{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/asdproject"
    },
    "cloudant": {
      "db": "https://ariettarkstedensearmedde:R35kNCORxNabYpu2wP3870ws@jwpenn.cloudant.com/asdproject"
    }
  }
}
